{% extends "base.html.j2" %}

{% import 'wtforms.html.j2' as wtf %}

{% block title %}Login{% endblock %}

{% block contents %}
<div class="container">
    <h1>Login to your account</h1>
    <form method="POST" class="form">
        <fieldset>
            {{ form.hidden_tag() }}
            {{ wtf.input(form.email, form) }}
            <button type="submit" class="btn btn-primary">Request one-time login code</button>
        </fieldset>
    </form>
</div>
{% endblock %}
