{% extends "base.html.j2" %}

{% block title %}Login{% endblock %}

{% block contents %}
<div class="container">
    Invalid code. The link you used may have expired. Please check you are using the most recent one.
</div>
{% endblock %}