{% extends "base.html.j2" %}

{% import 'wtforms.html.j2' as wtf %}

{% block title %}Login{% endblock %}

{% block contents %}
<div class="container">
    <p>Please check your email. The code should match the following {{ flow.visual_code }}</p>
</div>

<script>
    function login_poll() {
        setTimeout(() => {
            fetch("{{ login_poll_url }}")
                .then((response) => response.json())
                .then((data) => {
                    if (data["verified"] === true) {
                        console.log("Login is now verified! Redirecting...");
                        window.location.replace("{{ login_redirect }}");
                    } else {
                        console.log("Login not yet verified");
                        login_poll();
                    }
                })
                .catch((err) => {
                    login_poll();
                })
        }, 5000);
    }

    window.onload = login_poll;
</script>
{% endblock %}