{% extends "base.html.j2" %}

{% block title %}Login{% endblock %}

{% block contents %}
<div class="container">
    It appears you are using a different device/browser. For security reasons you need to type the code on the same browser you are logging in from.
</div>
{% endblock %}
