{% extends "base.html.j2" %}

{% block title %}Login{% endblock %}

{% block contents %}
<div class="container">
{% if flow %}
    <h1>Hi {{ flow.user.display_name }}</h1>
    {% if needs_confirmation %}
    <p>Please click the following button to login:</p>
    <form method="POST" action="">
        <button type="submit" class="btn btn-primary">Login now</button>
    </form>
    {% else %}
    <p>Login success. You can now close this page.</p>
    {% endif %}
{% else %}
    <p>Login expired or invalid.</p>
{% endif %}
</div>
{% endblock %}