<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <!-- set the encoding of your site -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='images/logo1.1_notext.svg') }}" />

        <title>{% block title %}{% endblock %} - Bristol Hackspace</title>
        <meta property="og:title" content="{{ self.title() }} - Bristol Hackspace" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="/" />
        <!-- <meta property="og:image" content="images/logo300x300.png"> -->

        <!-- Custom styles for this template -->
        {% assets filters='cssmin', output="all.css",
            "css/base.css", "css/header.css", "css/component.css", "css/form.css", "css/login.css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    </head>
    <body>
        <header>
            <nav class="navbar container">
                <a href="{{ url_for('main.index') }}" class="nav-title">
                    <img src="{{ url_for('static', filename='images/pride halo logo.png') }}" alt="">
                    <span>Bristol<br/>Hackspace</span>
                </a>
                <ul class="nav-menu">
                    {% if hs.session_manager.current_session %}
                    <li><a href="{{ url_for('login.logout') }}" class="nav-link">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="item-list">
                {% for message in messages %}
                <li class="item-box">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block contents %}
            {% endblock %}
        </main>

        <footer class="container">
            <p>© Copyright 2026 Bristol Hackspace.</p>
        </footer>
    </body>
</html>
