
{% macro input_box(field, form, field_class="", feedback_class="invalid-feedback") -%}
<div class="form-field">
    {% if field.flags.required %}
    {{ field.label(class="form-label required") }}
    {% else %}
    {{ field.label(class="form-label") }}
    {% endif %}

{% if field.errors %}
{{ field(class=(field_class ~ " is-invalid"), **kwargs) }}
{% for error in field.errors %}
    <p class="{{feedback_class}}">{{ error }}</p>
{% endfor %}
{% else %}
{{ field(class=field_class, **kwargs) }}
{% endif %}
</div>
{%- endmacro %}

{% macro input_check(field, form, field_class="") -%}
<div class="form-field">
{% if field.errors %}
{{ field(class=(field_class ~ " is-invalid"), **kwargs) }}
{% else %}
{{ field(class=field_class, **kwargs) }}
{% endif %}
{% if field.flags.required %}
{{ field.label(class="form-check-label required") }}
{% else %}
{{ field.label(class="form-check-label") }}
{% endif %}
{% for error in field.errors %}
    <p class="invalid-feedback">{{ error }}</p>
{% endfor %}

</div>
{%- endmacro %}

{% macro input(field, form) -%}
{% if field.type == "BooleanField" %}
{{ input_check(field, form, **kwargs) }}
{% else %}
{{ input_box(field, form, **kwargs) }}
{% endif %}
{%- endmacro %}