{% extends "base.html.j2" %}

{% from "paginate.html.j2" import render_pagination %}

{% block title %}Members{% endblock %}

{% block contents %}
<div class="container">
    <h1>Members</h1>
    <ul class="item-list">
        {% for member in page %}
        <li class="item-box">
            <dl>
            <dt>Display Name</dt>
            <dd>{{ member.display_name }}</dd>
            <dt>Email</dt>
            <dd>{{ member.email }}</dd>
            <dt>Username</dt>
            <dd>{{ member.username }}</dd>
            </dl>
            <p><a href="{{ url_for('admin.member', member_id=member.id) }}" class="button">Edit</a></p>
        </li>
        {% endfor %}
    </ul>
    {{ render_pagination(page, 'admin.members') }}
</div>
{% endblock %}
